<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <link rel="stylesheet" href="success.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_list">
                <li class="main-header_item"><a href="/">Shop</a></li>
                <li class="main-header_item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header_item"><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>    
    <div>
        <h1>Form Successfully Filled..!!!</h1>
    </div>
</body>
</html>