.main-header{
    background-color: yellow;
    width: 100%;
    margin: 0;
    padding: 1px;
}
.main-header_list{
    list-style: none;
    display: flex;
    vertical-align: center;
}
.main-header_item a{
    color:maroon;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    font-size: large;
}
.main-header_item a:hover,
.main-header_item a:active{
    color:blue
}
main{
    align-content: center;
    margin-left: 10px;
}
h1{
    color:blue
}